//
// CSS for small screen portrait devices
// 
// @package WordPress
// @subpackage Inception
//

#wrapper {
  margin: 0 5px;
}

#masthead {
  
  h2:after {
    content: " Portrait mobile layout";
  }
} 