//
// CSS for small screen landscape devices
// 
// @package WordPress
// @subpackage Inception
//

#wrapper {
  margin: 0 10px;
}

#masthead {
  
  h2:after {
    content: " Landscape mobile layout";
  }
} 