//
// CSS for tablet portrait devices
// 
// @package WordPress
// @subpackage Inception
//

#wrapper {
  margin: 0 10px;
}

#masthead {
  
  h2:after {
    content: " Portrait tablet layout";
  }
} 